<div class="col-md-8">
  <div class="tabs">
    <input id="user_post" type="radio" name="tab_item" checked>
    <label class="tab_item" for="user_post">投稿 (<%= @user.posts.count %>)</label>
    <input id="user_like" type="radio" name="tab_item">
    <label class="tab_item" for="user_like">いいね！ (<%= @user.liked_posts.count %>)</label>
    <div class="tab_content" id="user_post_content">
      <div class="tab_content_description">
        <% if @user.posts.any? %>
          <ol class="posts">
            <%= render @posts %>
          </ol>
          <%= will_paginate @posts %>
        <% end %>
      </div>
    </div>
    <div class="tab_content" id="user_like_content">
      <div class="tab_content_description">
        <% if @user.liked_posts.any? %>
          <ol class="posts">
            <%= render @like_posts %>
          </ol>
          <%= will_paginate @like_posts %>
        <% end %>
      </div>
    </div>
  </div>
</div>
