
<section class="post_info">
  <%= image_tag @post.image.url, size: '300x300', class: 'post_image', alt: "Sweet Image" %>
  <p><%= "商品名：#{@post.name}" %></p>
  <p><%= "値段：#{@post.price}円" %></p>
  <p><%= "店名：#{@post.store}" %></p>
  <p><%= "住所：#{@post.address}" %></p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.393549832709!2d139.7042476152524!3d35.6673104801975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d2521e2da3b%3A0xe36e1925efe23b9c!2zRkxJUFBFUidTIOihqOWPgumBk-W6lw!5e0!3m2!1sja!2sjp!4v1601109853876!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  <div class="post_user">
    <%= link_to image_tag(@post.user.avatar.url, size: '80x80', alt: "User Image"), @post.user %>
    <%= link_to "投稿者：#{@post.user.name}", @post.user %>
  </div>
  <p><%= "コメント：#{@post.comment}" %></p>
  <%# <>いいね件数： <%= @post.likes.count %>
  <% if current_user && current_user.already_liked?(@post) %>
    <%# <%= button_to 'いいねを取り消す', post_like_path(@post), method: :delete %>
    <%= link_to post_like_path(@post), method: :delete do %>
      <i class="fas fa-thumbs-up"><%= @post.likes.count %></i>
    <% end %>
  <% else %>
    <%# <%= button_to 'いいね', post_likes_path(@post) %>
    <%= link_to post_likes_path(@post), method: :post do %>
      <i class="far fa-thumbs-up"><%= @post.likes.count %></i>
    <% end %>
  <% end %>
  <p>いいねしたユーザー</p>
  <% @post.liked_users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
  <% if current_user && @post.user.id == current_user.id %>
    <%= link_to "変更", edit_post_path, class: "btn btn-primary", role: "button" %>
    <%= link_to "削除", post_path, method: :delete, class: "btn btn-primary", role: "button" %>
  <% end %>
</section>
