<div class="col-md-8">
  <section class="post_info" %>
    <div class="post_user">
      <%= link_to image_tag(@post.user.avatar, size: '80x80', alt: "User Image"), @post.user %>
      <%= link_to "投稿者：#{@post.user.name}", @post.user %><br>
      <span class="timestamp">
        Posted <%= time_ago_in_words(@post.created_at) %> ago.
      </span>
    </div>
    <%= render 'shared/slider' %>
    <p><i class="far fa-comment icon icon-center"></i><%= @post.content %></p>
    <p><i class="fas fa-utensils icon icon-center"></i><%= @post.name %></p>
    <p><i class="fas fa-yen-sign icon icon-center"></i><%= @post.price %></p>
    <p><%= image_tag "store-solid.svg", class:"icon", width:18, height:18 %><%= @post.store %></p>
    <p><i class="fas fa-map-marker-alt icon icon-center"></i><%= @post.address %></p>

    <%# <div id="likes_buttons_<%= @post.id %>
    <div id="likes_button">
      <%= render partial: 'shared/like', locals: { post: @post } %>
    </div>

    <% if current_user?(@post.user) %>
      <%= link_to "変更", edit_post_path, class: "btn btn-primary", role: "button" %>
      <%= link_to "削除", @post, method: :delete,
              class: "btn btn-primary", role: "button",
              data: { confirm: "この投稿を削除しますか？" } %>
    <% end %>
  </section>
</div>